<div class="col-xl-3 col-md-6 col-lg-3">
    <div class="footer_widget">
        <div class="footer_logo">
            <a href="#">
                <img src="img/footer_logo.png" alt="">
            </a>
        </div>
        <p>
            <a href="#">{{'app.info.email'|trans}}</a> <br>
            {{'app.info.phone'|trans}} <br>
            {{'app.info.address'|trans}}
        </p>
        <div class="socail_links">
            <ul>
                <li>
                    <a href="#">
                        <i class="ti-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-twitter-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="col-xl-2 col-md-6 col-lg-3">
    <div class="footer_widget">
        <h3 class="footer_title">
            Services
        </h3>
        <ul>
            <li><a href="#">Marketing & SEO</a></li>
            <li><a href="#"> Startup</a></li>
            <li><a href="#">Finance solution</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Travel</a></li>
        </ul>

    </div>
</div>
<div class="col-xl-2 col-md-6 col-lg-2">
    <div class="footer_widget">
        <h3 class="footer_title">
            Useful Links
        </h3>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#"> Contact</a></li>
            <li><a href="#">Appointment</a></li>
        </ul>
    </div>
</div>
<div class="col-xl-4 col-md-6 col-lg-4">
    <div class="footer_widget">
        <h3 class="footer_title">
            Subscribe
        </h3>
        <form action="#" class="newsletter_form">
            <input type="text" placeholder="Enter your mail">
            <button type="submit">Subscribe</button>
        </form>
        <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
    </div>
</div>
</div>