<div class="social_media_links">
    <a href="#">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="#">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="#">
        <i class="fa fa-google-plus"></i>
    </a>
</div>